@page
@model SignalRChat.Pages.IndexModel
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-auto">
            Добро пожаловать на главную страницу
        </div>
    </div>
</div>

